SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_SECURE=false

# Aşağıdaki gibi dilediğiniz kadar hesap ekleyebilirsiniz (SMTP_ACCOUNT_1, 2, 3...)
SMTP_ACCOUNT_1_USER=info@sirketin.com
SMTP_ACCOUNT_1_PASS=sifre1

SMTP_ACCOUNT_2_USER=satis@sirketin.com
SMTP_ACCOUNT_2_PASS=sifre2
